body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 20%, rgba(35, 217, 98, 1) 100%) no-repeat;
    width: 98vw;
    height: 98.3vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

li {
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #23D962;
}

main {
    display: flex;
    justify-content: center;
}

#modal {
    margin-top: 5%;
    color: white;
    flex-direction: column;
    height: 45vh;
    width: 20vw;
    justify-content: center;
    align-items: center;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 50%, rgba(35, 217, 98, 0.8) 100%) no-repeat;
    border-radius: 20px;
}

input {
    background-color: rgba(25, 25, 25, 1);
    color: grey;
    border-radius: 100px;
    border: none;
    padding: 15px;
}

.btns {
    padding: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btns>button {
    background-color: rgba(25, 25, 25, 1);
    color: grey;
    border-radius: 100px;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100px;
}

.btns>a:hover {
    color: #000000;
}

#listaMusicas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#liMusica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

audio {
    margin-bottom: 5%;
    width: 200px;
    /* ajusta o tamanho */
    background-color: transparent;
    /* remove fundo branco */
    border: none;
    outline: none;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
    /* deixa controles escuros */
}

audio::-webkit-media-controls-panel {
    background-color: transparent;
    /* tira fundo */
}

audio::-webkit-media-controls-play-button {
    background-color: #1db954;
    /* verde estilo Spotify */
    border-radius: 50%;
    transform: scale(1.2);
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    display: none;
    /* opcional: remove contador */
}

#btnDownload {
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    padding: 10px;
}